body {
  padding: 0;
  margin: 0;
  font-family: var(--sl-font-sans);
}

/* fade in ui elements once shoelace fully loaded */
.contain-shoelace {
  opacity: 0;
  visibility: hidden;
}

.contain-shoelace.ready {
  opacity: 1;
  visibility: visible;
  transition: 0.1s visible;
  transition: 0.4s opacity;
}

#cards {
  letter-spacing: var(--sl-letter-spacing-denser);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  width: 10rem;
  height: 15rem;
  margin: 0.25rem;
  box-shadow: var(--sl-shadow-small);
  cursor: pointer;
  position: relative;
}

.item-card small {
  color: var(--sl-color-neutral-500);
}

.item-card [slot="footer"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-card::part(base) {
  height: 100%;
}

.item-card::part(body) {
  padding: var(--sl-spacing-small);
}

.item-category {
  position: absolute;
  top: 0;
  left: 0;
}

.item-end-date {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.item-end-date::part(base) {
  width: 100%;
}

sl-badge::part(base) {
  font-size: var(--sl-font-size-medium);
  border: initial;
}

.item-title {
  text-decoration: none;
  color: var(--sl-color-primary-950);

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item-title:hover {
  text-decoration: underline;
  color: var(--sl-color-primary-950);
}

.item-description {
  font-size: var(--sl-font-size-x-small);
  color: var(--sl-color-neutral-600);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

nav {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 3px ridge var(--sl-color-danger-600);
  background: var(--sl-color-danger-600);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#app-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#app-title h1 {
  padding: 0;
  margin: 0;
  margin-right: 0.25rem;
}
#app-title h6 {
  padding: 0;
  margin: 0;
}

#filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#info-drawer::part(panel) {
  color: var(--sl-color-danger-950);
  background-color: var(--sl-color-danger-200);
}

#filter-categories {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

#filter-categories > span {
  margin-right: 0.25rem;
}

#filter-categories > sl-select {
  max-width: 14rem;
}
